{% extends "page.html" %}

{% block content -%}
    <div class="row column">
        <div class="v-space-short">
            <h1 class="title-2 text-upper text-center underline short far">{{ page_title }}</h1>
            <div class="v-space-short text-center">
                <p>This sample just perform a single <code>console.log("Hello world!");</code> info.</p>
            </div>
        </div>
    </div>
{%- endblock content %}

{% block foot_js -%}
    {{ super() }}
    <script>
        console.log("Hello world!");
    </script>
{%- endblock foot_js %}
